/* main css */

body {
  background-color: #f2f2f2;
  margin-left: 50px;
  margin-right: 50px;
  font-family: "Libre Franklin";
  background-image: url("../images/spiral-3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 700px;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
  margin-top: 30px;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  color: black;
  bottom: 0;
  width: 100%;
  height: 3rem;
  padding: 20px;
  text-align: center;      /* Footer height */
}

footer p{
  background-color: #f2f2f2;
  display:inline-block;
  text-align: center;

}
/* fonts */
@font-face {
  font-family: "Libre Franklin";
  src: url("../fonts/LibreFranklin-VariableFont_wght.ttf");
}

/* animations */
@keyframes blinky {
  0% {
    color: black;
  }
  100% {
    color: #f2f2f2;
  }
}

.main-title-container {
  display: flex;
  justify-content: center;
  /* background-image: linear-gradient(blue, #f2f2f2); */
}

.main-title-container a {
  text-shadow: #ffc0cb 2px 0 10px;
  text-decoration: none;
}

.dove-img-container {
  margin-left: 5px;
  margin-right: 5px;
  width: 120px;
  height: 120px;
}

.dove-img-container img {
  height: 100%;
  width: 100%;
  filter: contrast(200%);
}

.dove-img-container2 {
  margin-left: 0px;
  margin-right: 0px;
  width: 120px;
  height: 120px;
  transform: scaleX(-1);
}

.dove-img-container2 img {
  height: 100%;
  width: 100%;
  filter: contrast(200%);
}

.homeButton a {
  font-family: helvetica;
  font-weight: bold;
  font-size: 300%;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  color: black;
}

.homeButton p {
  transform: translateY(10px);
}

.hoverAnimation:hover a {
  animation-name: blinky;
  animation-duration: 0.4s;
  animation-iteration-count: infinite;
  cursor: pointer;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 0;
  width: 100%;
  background-color: #f2f2f2;
  flex-direction: row;
}

.main-nav li {
  list-style-type: none;
}

.main-nav a {
  text-decoration: none;
  padding: 25px;
  display: block;
}

.main-nav > li > a {
  color: black;
  font-size: 22px;
}

.main-nav > li > a:hover {
  color: black;
  text-shadow: #ffc0cb 2px 0 10px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 400%;
}

svg:not(:root) {
  overflow: visible;
}

svg {
  height: auto;
  max-width: 100%;
  width: 400px;
}

.circle-container {
  /* position: relative; */
  position: relative;
  top: 50%;
  transform: translate(0, 10%);

}

.circle-text {
  background-image: radial-gradient(pink 40%, yellow 80%);
  border-radius: 50%;  /* makes div circular */
  /* text-shadow: black 1px 0 20px */
}

.comp-gif {
  position: absolute;
  top: 50px;
  left: 50px;
}

.comp-gif img {
  width: 300px;
}

/* Excerises Page css  */

.exercise-page .main-nav > li > [data-page="exercises"] {
  font-weight: bold;
  color: black;
}

.exercise-page .main-nav > li > [data-page="semester-project"] {
  opacity: 0.5;
}

.exercise-page .main-nav > li > [data-page="reflections"] {
  opacity: 0.5;
}

.exercise-page .main-nav > li > [data-page="presentation"] {
  opacity: 0.5;
}

.exercises-links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* margin-top: 150px; */
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  /* background-image: linear-gradient(red  20%, pink  70%); */
  /* background-image: url("../images/pixil-frame-0.png"); */
  background-size: 300px;
  background-repeat: no-repeat;
  padding:10px;
  width: 311px;
}

.exercises-links li {
  list-style-type: none;
  /* height: 200px;
  width: 200px; */
  /* background-image: radial-gradient(#bde5ff  20%, #f2f2f2  80%); */
  text-align: center;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 1px;
}

.exercises-links .ex{
  color: black;
  text-decoration: none;
  font-size: 20px;
  background-color: #f2f2f2;
  padding: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: blue;
  margin: 10px;
}

.exercises-links .ex-dwnld {
    text-decoration: none;
    color: white;
    background-color: black;
}

/* Semester Project Page css  */

.semester-project-links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* margin-top: 150px; */
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  /* background-image: radial-gradient(#7893ff  20%, #f2f2f2 70%); */
  padding:10px;
  /* background-color: blue; */
  width: 350px;
  /* background-image: url("../images/pixil-frame-0.png"); */
  background-size: 350px;
  background-repeat: no-repeat;
}

.semester-project-links li {
  list-style-type: none;
  text-align: center;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 1px;
}

.semester-project-links .ex{
  color: black;
  text-decoration: none;
  font-size: 20px;
  background-color: #f2f2f2;
  padding: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: blue;
  margin: 10px;
}

.semester-project-page .main-nav > li > [data-page="exercises"] {
  opacity: 0.5;
}

.semester-project-page .main-nav > li > [data-page="semester-project"] {
  font-weight: bold;
  color: black;
}

.semester-project-page .main-nav > li > [data-page="reflections"] {
  opacity: 0.5;
}

.semester-project-page .main-nav > li > [data-page="presentation"] {
  opacity: 0.5;

}

/* Reflections Page css  */

.reflection-links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  /* background-image: radial-gradient(green  20%, #f2f2f2 70%); */
  padding:10px;

  width: 290px;
  /* background-image: url("../images/pixil-frame-0.png"); */
  background-size: 290px;
  background-repeat: no-repeat;
}

.reflection-links li {
  list-style-type: none;
  /* height: 200px;
  width: 200px; */
  /* background-image: radial-gradient(#bde5ff  20%, #f2f2f2  80%); */
  text-align: center;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 1px;
}

.reflection-links .ex{
  color: black;
  text-decoration: none;
  font-size: 20px;
  background-color: #f2f2f2;
  padding: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: blue;
  margin: 10px;
}

.reflections-page .main-nav > li > [data-page="exercises"] {
  opacity: 0.5;
}

.reflections-page .main-nav > li > [data-page="semester-project"] {
  opacity: 0.5;
}

.reflections-page .main-nav > li > [data-page="reflections"] {
  font-weight: bold;
  color: black;
}

.reflections-page .main-nav > li > [data-page="presentation"] {
  opacity: 0.5;
}


/* Presentation Page css  */

.presentation-page .main-nav > li > [data-page="exercises"] {
  opacity: 0.5;
}

.presentation-page .main-nav > li > [data-page="semester-project"] {
  opacity: 0.5;
}

.presentation-page .main-nav > li > [data-page="reflections"] {
  opacity: 0.5;
}

.presentation-page .main-nav > li > [data-page="presentation"] {
  font-weight: bold;
  color: black;
}


.presentation-links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  /* background-image: radial-gradient(black  20%, #f2f2f2 70%); */
  padding:10px;
  width: 200px;
  /* background-image: url("../images/pixil-frame-0.png"); */
  background-size: 200px;
  background-repeat: no-repeat;

}

.presentation-links li {
  list-style-type: none;
  text-align: center;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 1px;
}

.presentation-links a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  background-color: #f2f2f2;
  padding: 10px;
  border-style: solid;
  border-color: blue;
  margin: 10px;
}
