/* main css */

/* fonts */
@font-face {
  font-family: "Libre Franklin";
  src: url("fonts/LibreFranklin-Italic-VariableFont_wght.ttf")
      format("ttf supports variations"),
    url("fonts/LibreFranklin-VariableFont_wght.ttf")
      format("ttf supports variations");
  font-weight: 100 1000;
  font-stretch: 25% 151%;
}

/* animations */
@keyframes blinky {
  0% {
    color: black;
  }
  100% {
    color: #f2f2f2;
  }
}

body {
  background-color: #f2f2f2;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

body {
  font-family: "Libre Franklin";
}

.homeButton {
  font-family: helvetica;
  font-weight: bold;
  font-size: 190%;
  margin: auto;
  width: 50%;
  text-align: center;
}

.hoverAnimation:hover {
  animation-name: blinky;
  animation-duration: 0.4s;
  animation-iteration-count: infinite;
}

.outer-circle {
  height: 90px;
  width: 90px;
  background-color: black;
  border-radius: 80px;
}

.inner-object01 {
  height: 40px;
  width: 20px;
  background-color: white;
  border-radius: 4px;
  transform: skewY(-70deg) translateX(35px) translateY(120px);
}

.inner-object02 {
  height: 40px;
  width: 20px;
  background-color: black;
  border-radius: 4px;
  transform: skewY(-70deg) translateX(35px) translateY(120px) rotate(3deg);
}

.inner-object03 {
  height: 40px;
  width: 20px;
  background-color: black;
  border-radius: 4px;
  transform: skewY(-70deg) translateX(35px) translateY(120px) rotate(10deg);
}

.inner-object04 {
  height: 40px;
  width: 20px;
  background-color: black;
  border-radius: 4px;
  transform: skewY(-70deg) translateX(35px) translateY(120px) rotate(45deg);
}

.circle-container {
  transform: translateX(500px) translateY(40px);
  margin: auto;
  display: inline-block;
}
