/* main css */

body {
  background-color: #f2f2f2;
  margin-left: 50px;
  margin-right: 50px;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
  margin-top: 30px;
}

body {
  font-family: "Libre Franklin";
}

/* https://css-tricks.com/examples/hrs/ */
hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#blob{
  transform: rotate(90deg) scale(0.4) translateY(800px);
}


#blob2{
  transform: rotate(90deg) scale(0.4) translateY(-800px);
}


/* fonts */
@font-face {
  font-family: "Libre Franklin";
  src: url("fonts/LibreFranklin-Italic-VariableFont_wght.ttf")
      format("ttf supports variations"),
    url("fonts/LibreFranklin-VariableFont_wght.ttf")
      format("ttf supports variations");
  font-weight: 100 1000;
  font-stretch: 25% 151%;
}


/* animations */
@keyframes blinky {
  0% {
    color: black;
  }
  100% {
    color: #f2f2f2;
  }
}


svg:not(:root) {
  overflow: visible;
}

svg {
  height: auto;
  max-width: 100%;
  width: 300px;
}

.main-title-container {
  display: flex;
  justify-content: center;
  background-image:linear-gradient(blue, white);
}

.main-title-container p{
  padding-top: 15px;
  text-shadow: #FFC0CB 2px 0 10px;
}

.main-name{
  z-index: 20px;
  padding: 20px;
  border-radius: 200px;
  transform:translateY(10px);
  background-color: blue;
  background-image:linear-gradient(blue, white);
}

.main-name p{
color: white;
}

.dove-img-container {
  margin-left: 5px;
  margin-right: 5px;
  width: 120px;
  height: 120px;
}

.dove-img-container img {
  height: 100%;
  width: 100%;
  filter: contrast(200%);
}

.dove-img-container2 {
  margin-left: 0px;
  margin-right: 0px;
  width: 120px;
  height: 120px;
  transform: scaleX(-1);

}

.dove-img-container2 img {
  height: 100%;
  width: 100%;
  filter: contrast(200%);
}

.heart-image-container {
  margin-left: 10px;
  margin-right: 10px;
  width: 100px;
  height: 100px;
}

.heart-image-container img {
  height: 100%;
  width: 100%;
}

.homeButton {
  font-family: helvetica;
  font-weight: bold;
  font-size: 190%;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  color: black;
}

.hoverAnimation:hover {
  animation-name: blinky;
  animation-duration: 0.4s;
  animation-iteration-count: infinite;
  cursor: pointer;
}

.nav-container {
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 0;
  width: 100%;
}

.main-nav li {
  list-style-type: none;
}


.main-nav a {
  text-decoration: none;
  padding: 25px;
  display: block;
}

.main-nav > li > a {
  color: #000000;
  font-size: 18px;
}

.main-nav > li > a:hover{
color: blue;
text-shadow: #FFC0CB 2px 0 10px;
}

main{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 400%;
}

.circle-text{
background-image:radial-gradient(pink 40%,#f2f2f2 80%);
/* text-shadow: black 1px 0 20px */

}
.mac-container{
  width:100px;
  height: 100px;
}

.mac img{
  width:100%;
  height: 100%;
}
